body {
	color: white;
	text-shadow: 0px 0px 12px #000000;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	font-size: 14px;
}

.wallpaper {
	/* background-color: black; */
	background-image: url("https://source.unsplash.com/category/nature/1920x1080/daily");
	background-size: cover;
	background-position: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.centered_box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
}

.time {
	font-size: 150px;
	line-height: 135px;
}

.welcome_box {
	font-size: 45px;
}

.notes {
	max-width: 200px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.weather .weather_top {
	display: flex;
	align-items: center;
}

.weather .weather_icon {
	max-width: 50px;
	max-height: 50px;
	filter: invert(1) drop-shadow( 0px 0px 2px rgba(0,0,0,.7) );
}

.weather .weather_icon,
.weather .weather_high,
.weather .weather_low {
	display: inline-block;
}

.weather .weather_high {
	font-size: 24px;
}

.weather .weather_low {
	font-size: 16px;
}

.weather .weather_location_container {
	margin-top: -5px;
}

.widget_outer {
	position: absolute;
	transition: opacity 200ms linear;
	opacity: .3;
}

.widget_outer.bottom_left {
	padding: 150px 150px 20px 20px;
	bottom: 0;
	left: 0;
	text-align: left;
}

.widget_outer.bottom_right {
	padding: 150px 20px 20px 150px;
	bottom: 0;
	right: 0;
	text-align: right;
}

.widget_outer.top_right {
	padding: 20px 20px 150px 150px;
	top: 0;
	right: 0;
	text-align: right;
}

.widget_outer:hover {
	opacity: 1;
}

svg-icon svg {
	width: 32px;
	height: 32px;
}

svg-icon svg * {
	fill: white;
}

[contentEditable] {
	display: inline-block;
	/*
		This is needed to allow easy line breaks in the input. It leads to a bug though. See these two links for details:
		1) http://stackoverflow.com/a/20533364/506913
		2) http://stackoverflow.com/a/34445203/506913
	*/
}

[contentEditable]::-webkit-scrollbar-track,
[contentEditable]::-webkit-scrollbar-thumb,
[contentEditable]::-webkit-scrollbar
{
	visibility: hidden;
}

[contentEditable]:hover::-webkit-scrollbar-track,
[contentEditable]:hover::-webkit-scrollbar-thumb,
[contentEditable]:hover::-webkit-scrollbar
{
	visibility: visible;
}

.selectable {
	cursor: pointer;
	transition: background-color 200ms linear;
}

.selectable:hover {
	background-color: rgba(255,255,255,.4);
}

::-webkit-scrollbar-track
{
	background-color: rgba(100,100,100,.01);
}

::-webkit-scrollbar
{
	width: 10px;
	border: 1px solid rgba(0,0,0,.2);
	background-color: rgba(255,255,255,.1);
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,.4);
	border: 1px solid rgba(80,80,80,.7);
	border-radius: 10px;
}