body {
	color: white;
	text-shadow: 0px 0px 12px #000000;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	font-size: 14px;
}

h1 {
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: bold;
}

.wallpaper {
	/* background-color: black; */
	background-size: cover;
	background-position: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: -100;
}

.wallpaper.blurred {
	filter: blur(3px);
	box-sizing: content-box;
	padding: 6px;
	top: -6px;
	left: -6px;
}

.wallpaper img {
	width: 100%;
	height: 100%;
	opacity: .01;
}

.centered_box {
	display: flex;
	justify-content: center;
	align-items: center
;	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
	text-shadow: 0px 0px 30px #333;
}

.time {
	font-size: 180px;
}

.welcome_box {
	font-size: 45px;
}

.notes {
	max-width: 200px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.weather .weather_top {
	display: flex;
	align-items: center;
}

.weather .weather_icon {
	filter: drop-shadow( 0px 0px 2px rgba(0,0,0,.7) );
	font-size: 30px;
	padding-right: 10px;
}

.weather .weather_icon,
.weather .weather_high,
.weather .weather_low {
	display: inline-block;
}

.weather .weather_high {
	font-size: 24px;
	padding-right: 5px;
}

.weather .weather_low {
	font-size: 16px;
}

.weather .weather_location_container {
	margin-top: 2px;
}

.prefs_panel {
	background: rgba(0,0,0,.7);
	border-radius: 10px 10px 10px 0;
	width: 360px;
	height: 200px;
	padding: 14px;
	margin-bottom: 25px;
	position: relative;
}

.prefs_panel_inner {
	overflow-y: scroll;
	height: 100%;
}

.prefs_panel .triangle {
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 15px 0 15px;
	border-color: rgba(0,0,0,.7) transparent transparent transparent;
}

.prefs_panel h1 {
	float: left;
}

.prefs_panel a,
.prefs_panel a:visited,
.prefs_panel a:active,
.prefs_panel a:hover {
	color: #A3DEFE;
}

.prefs_panel .reset_wallpaper_container {
	float: right;
	text-align: center;
	margin-bottom: 20px;
}

.prefs_panel button {
	background: transparent;
	color: white;
	border: 1px solid white;
}

.prefs_panel .wallpaper_thumbs {
	margin-bottom: 20px;
}

.prefs_panel .wallpaper_thumbs img {
	cursor: pointer;
}

.prefs_panel input[type="text"] {
	background: transparent;
	color: white;
	border: 0;
	padding: 0;
	width: 100%;
}

.prefs_panel input[type="checkbox"] {
	margin: 0;
}

.prefs_row_container {
	margin-bottom: 20px;
}

.prefs_row {
	display: flex;
	margin-bottom: 8px;
}

.prefs_row .label {
	font-weight: bold;
	flex: 1 1 0;
}

.prefs_row .field {
	flex: 2 1 0;
}

.prefs_row .label, .prefs_row .field {
	overflow: hidden;
}

.prefs_button {
	cursor: pointer;
}

.widget_outer {
	position: absolute;
	transition: opacity 200ms linear;
	/*opacity: .3;*/
}

.widget_outer.bottom_left {
	padding: 150px 150px 20px 20px;
	bottom: 0;
	left: 0;
	text-align: left;
}

.widget_outer.bottom_right {
	padding: 150px 20px 20px 150px;
	bottom: 0;
	right: 0;
	text-align: right;
}

.widget_outer.top_right {
	padding: 20px 20px 150px 150px;
	top: 0;
	right: 0;
	text-align: right;
}

/*
.widget_outer:hover {
	opacity: 1;
}
*/

svg-icon svg {
	width: 32px;
	height: 32px;
	filter: drop-shadow( 0px 0px 2px rgba(0,0,0,.7) );
}

svg-icon svg * {
	fill: white;
}

[contentEditable] {
	display: inline-block;
	/*
		This is needed to allow easy line breaks in the input. It leads to a bug though. See these two links for details:
		1) http://stackoverflow.com/a/20533364/506913
		2) http://stackoverflow.com/a/34445203/506913
	*/
}

[contentEditable]::-webkit-scrollbar-track,
[contentEditable]::-webkit-scrollbar-thumb,
[contentEditable]::-webkit-scrollbar
{
	visibility: hidden;
}

[contentEditable]:hover::-webkit-scrollbar-track,
[contentEditable]:hover::-webkit-scrollbar-thumb,
[contentEditable]:hover::-webkit-scrollbar
{
	visibility: visible;
}

.selectable {
	cursor: pointer;
	transition: background-color 200ms linear;
}

.selectable:hover {
	background-color: rgba(255,255,255,.4) !important;
}

.clear {
	clear: both;
}

::-webkit-scrollbar-track
{
	background-color: rgba(100,100,100,.01);
}

::-webkit-scrollbar
{
	width: 10px;
	border: 1px solid rgba(0,0,0,.2);
	background-color: rgba(255,255,255,.1);
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,.4);
	border: 1px solid rgba(80,80,80,.7);
	border-radius: 10px;
}